@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scrollbar-color: #715c9f #130a26;
  background-color: #130a26;
}
body {
  overflow-x: hidden;
}
.button-custom {
  border-radius: 10px;
  padding: 12px 24px;
  width: 180px;
}

.icon-img {
  object-fit: cover;
  border: 1px solid #3e2574;
  padding: 15px;
  border-radius: 100%;
  box-shadow: 0 0 30px 5px rgba(93, 21, 227, 0.5);
}

.icon_gradient {
  background-image: linear-gradient(to right, #9124ff, #02c4ff);
  clip-path: url();
  border-radius: 100%;
}

.gradient-text {
  background: linear-gradient(to right, #5a189a, #3b82f6, #4338ca);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.word-spacing {
  word-spacing: 15px;
}

.shadow-gradient {
  box-shadow: 0 0 30px 5px rgba(93, 21, 227, 0.5);
}

.background-gradient {
  background-image: linear-gradient(to right, #6366f1, #a855f7);
}

.custom-blur {
  filter: blur(5px);
  background-color: rgba(85, 12, 220, 0.3);
  box-shadow: 0 0 40px 5px rgba(93, 21, 227, 0.5);
}

.custom-blur-bold {
  filter: blur(15px);
  background-image: linear-gradient(to right, #9124ff, #02c4ff);
  box-shadow: 0 0 40px 5px rgba(93, 21, 227, 0.5);
  opacity: 0.2;
}

.bg-gradient-to-r .word:first-child {
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #9124ff, #02c4ff);
}
.bg-gradient-to-r .word:last-child {
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #1fb6ff, #881ad6);
}

.blinking-cursor {
  font-size: 1.5em;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #9124ff, #02c4ff);
  animation: blink 0.7s step-end infinite;
}

.transition_bg {
  background-color: #130a26;
  animation: transition_bg 3s;
}

.gradient-text-nav {
  background: linear-gradient(to right, #9124ff, #02c4ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.underline_hover {
  position: relative;
  display: inline-block;
  color: rgb(226 211 253 / var(--tw-text-opacity));
}

.underline_hover:hover {
  color: #fff;
}

.underline_hover::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -7px;
  left: -5px;
  background-image: linear-gradient(to right, #9124ff, #02c4ff);
  border-radius: 10px;
  width: 0;
  transition: ease-in-out 0.4s;
}

.underline_hover:hover::before {
  transition: ease-in-out 0.4s;
  width: 120%;
}

.active::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -7px;
  left: -5px;
  background-image: linear-gradient(to right, #9124ff, #02c4ff);
  border-radius: 10px;
  width: 120%;
  transition: ease-in-out 0.4s;
  animation: linear-path 0.4s forwards;
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  animation: typing 7s steps(40, end) infinite;
}

.slider-button::before {
  position: absolute;
  content: "";
  background-color: #715c9f3f;
  width: 0%;
  z-index: 10;
  height: 100%;
  opacity: 1;
  border-radius: 8px;
  transition: 0.5s ease-out;
  left: 0;
}

.slider-button:hover::before {
  width: 100%;
  transition: 0.5s ease-out;
}

.custom-transition-all {
  transition: all 0.5s ease-in-out;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes transition_bg {
  0% {
    background-color: #130a26;
  }
  50% {
    background-color: #170f35;
  }
  100% {
    background-color: #130a26;
  }
}
